[submodule "nesp-sdk-kotlin"]
	path = nesp-sdk-kotlin
	url = git@github.com:nespjin/nesp-sdk-kotlin.git
[submodule "nesp-sdk-java"]
	path = nesp-sdk-java
	url = git@github.com:nespjin/nesp-sdk-java.git
